<div class="container col-xxl-8 px-4 pt-2">
  <div *ngIf="product !== null && product !== undefined; else notFound" class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{product.image}}" height="400px" width="400px">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 title">{{product.name | titlecase}}</h1>
      <p class="price">{{product.price | currency: 'IDR ': 'code' : '1.0-0'}}</p>
      <p class="description">{{product.description}}</p>
      <div *ngIf="isAdmin" class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-warning btn-lg px-4 me-md-2" routerLink="/edit-product/{{product.id}}">Edit</a>
        <button type="button" (click)="showDelete(content)" class="btn btn-danger btn-lg px-4 me-md-2">Delete Product</button>
      </div>
    </div>
  </div>
  <ng-template #notFound class="container">
    <h4 class="text-muted text-center">Product not found!</h4>
  </ng-template>
</div>

<ng-template #content let-c="close" let-d="dismiss">    
  <div class="modal-header">    
      <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>    
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
          <span aria-hidden="true">×</span>    
      </button>    
  </div>    
  <div class="modal-body">    
      <p>Are you sure to delete {{product?.name}}?</p>    
  </div>    
  <div class="modal-footer">    
      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>    
      <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>    
  </div>    
</ng-template>

<ng-template #contentDel let-c="close" let-d="dismiss">    
  <div class="modal-header">    
      <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>    
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
          <span aria-hidden="true">×</span>    
      </button>    
  </div>    
  <div class="modal-body">    
      <p>{{body}}</p>  
  </div>    
  <div class="modal-footer"> 
      <button type="button" class="btn btn-outline-dark" (click)="c('ok')">Ok</button>    
  </div>    
</ng-template>
