<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{product?.image}}">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 title">{{product?.name}}</h1>
      <p class="price">Rp. {{product?.price}}</p>
      <p class="description">{{product?.description}}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Wishlist</button>
        <button type="button" (click)="deleteProduct(9)" class="btn btn-danger btn-lg px-4 me-md-2">Delete Product</button>
      </div>
    </div>
  </div>
</div>
