<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ECommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" *ngFor="let nav of navigation_left">
          <a class="nav-link" [routerLink]="[nav.routerLink]" routerLinkActive="my-active-link" [routerLinkActiveOptions]="{exact:
            true}">{{nav.menu}}</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button *ngIf="!isLoggedIn" style="margin-left:10px;" class="btn btn-outline-danger" type="submit">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="my-right-active-link" [routerLinkActiveOptions]="{exact:
          true}">Log In</a>
      </button>
      <button *ngIf="isLoggedIn" style="margin-left:10px;" class="btn btn-outline-danger" type="submit">
        <a class="nav-link" (click)="logout()">Log Out</a>
      </button>
      <button *ngIf="!isLoggedIn" style="margin-left:10px;" class="btn btn-outline-danger" type="submit">
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="my-right-active-link" [routerLinkActiveOptions]="{exact:
          true}">Register</a>
      </button>
    </div>
  </div>
</nav>
