<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ECommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item" *ngFor="let nav of navigation_left">
          <a class="nav-link" [routerLink]="[nav.routerLink]" routerLinkActive="my-active-link" [routerLinkActiveOptions]="{exact:
            true}">{{nav.menu}}</a>
        </li>
      </ul>
      <button *ngIf="!isLoggedIn" style="margin-left:10px;" class="btn btn-outline-danger" type="submit">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="my-right-active-link" [routerLinkActiveOptions]="{exact:
          true}">Log In</a>
      </button>
      <button *ngIf="isLoggedIn" style="margin-left:10px;" class="btn btn-outline-danger" type="submit">
        <a class="nav-link" (click)="logout()">Log Out</a>
      </button>
      <button *ngIf="!isLoggedIn" style="margin-left:10px;" class="btn btn-outline-danger" type="submit">
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="my-right-active-link" [routerLinkActiveOptions]="{exact:
          true}">Register</a>
      </button>
      <button *ngIf="isLoggedIn" style="margin-left:10px;" class="btn btn-outline-primary" (click)="toBiodata()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
        <h5 class="text-white">
            {{username | titlecase}}
        </h5>
      </button>
    </div>
  </div>
</nav>
