.bodyCustom{
    margin-bottom: 60px;
}

.footerCustom {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.spinner{
margin: auto;
left: 0;
right: 0;
}