<div class="d-flex justify-content-center text-center" >
    <form class="p-3 mt-3" [formGroup]="editProductForm" (ngSubmit)="onSubmit()" style="width: 50%;">
        <h1 class="h3 mb-5 fw-normal">Edit Product</h1>
    
    
        <div class="form-floating">
            <input type="text" class="form-control mb-2" id="floatingInput" placeholder="name" formControlName="name" value="{{product?.name}}">
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control mb-2" id="floatingInput" placeholder="price" formControlName="price" value="{{product?.price}}">
            <label for="floatingInput">Price</label>
        </div>
        <div class="form-floating">
            <img src="{{product?.image}}">
            <input type="file" accept="image/*" (change)="changeListener($event)" class="form-control mb-2" id="floatingInput" placeholder="image" formControlName="image">
            <label for="floatingInput">Image</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control mb-2" id="floatingInput" placeholder="description" formControlName="description" value="{{product?.description}}">
            <label for="floatingInput">Description</label>
        </div>
        <div class="form-floating">
            <select class="form-control mb-2" id="floatingInput" placeholder="category" formControlName="category" [(ngModel)]="selectedQuantity">
                <option *ngFor="let category of listCategory" [value]="category.id">{{category.name}}</option>
            </select>
            <!-- <input type="text" class="form-control mb-2" id="floatingInput" placeholder="category" formControlName="category">
            <label for="floatingInput">Category</label> -->
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!editProductForm.valid">Submit</button>
    </form>
    <!-- <div class="alert alert-success" *ngIf="addProductForm">
      Welcome {{username_}} as {{ role }}.
    </div> -->
  </div>
  