<div class="d-flex justify-content-center text-center" >
    <form *ngIf="activated" class="p-3 mt-3" [formGroup]="chgPassForm" (ngSubmit)="onSubmit()" style="width: 50%;">
      <h4 class="h3 mb-5 fw-normal">Your password is expired! Please change it.</h4>
  
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.errors?.['confirmedValidator']">
        New password did not match!
      </div>
  
      <div class="form-floating">
          <input type="password" class="form-control mb-2" id="oldPass" placeholder="Old Password" formControlName="oldPassword">
          <label for="oldPass">Old Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control mb-2" id="newPass" placeholder="New Password" formControlName="newPassword">
        <label for="newPass">New Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control mb-2" id="confPass" placeholder="Confirm New Password" formControlName="confirmPassword">
        <label for="confPass">Confirm Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!chgPassForm.valid">Change</button>
    </form>
  </div>

<ng-template #contentInfo let-c="close" let-d="dismiss">    
    <div class="modal-header">    
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>    
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">    
            <span aria-hidden="true">×</span>    
        </button>    
    </div>    
    <div class="modal-body">    
        <p>{{body}}</p>  
    </div>    
    <div class="modal-footer"> 
        <button type="button" class="btn btn-outline-dark" (click)="c('ok')">Ok</button>    
    </div>    
</ng-template> 