<div class="container">
    <br>
    <div class="input-group">
        <input type="text" [(ngModel)]="searchText" name="searchText" (ngModelChange)="onSearch($event)" class="form-control" placeholder="Search product by name">
        <button *ngIf="searchText !== ''" class="btn btn-danger" type="reset" id="button-addon2" (click)="resetSearch()">X</button>
    </div>
    <br>
    <form class="categorySearch" role="search" [formGroup]="searchByCategoryForm">
        Search by Category :
        <select class="form-control" id="floatingInput" placeholder="category" formControlName="category" (change)="onSearchByCategory()">
            <option value="">All Category</option>
            <option *ngFor="let category of listCategory" value="{{category.id}}">{{category.name}}</option>
        </select>
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
    </form>
    <br>
    <div *ngIf="listProduct.length > 0; else noProduct" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
        <div class="col" *ngFor="let product of listProduct">
            <div class="card shadow-sm">
                <img class="image" src="{{product.image}}">
                <div class="card-body">
                    <h4 class="title text-truncate">{{product.name | uppercase}}</h4>
                    <h6 class="price">{{product.price | currency: 'IDR ': 'code' : '1.0-0'}}</h6>
                    <p class="card-text text-truncate">{{product.description}}</p>
                    <p><a class="btn btn-secondary" routerLink="/product-details/{{product.id}}">View details &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noProduct class="container">
        <h4 class="text-muted text-center">There is no product!</h4>
    </ng-template>
</div>
