<div class="d-flex justify-content-center text-center" >
    <form *ngIf="!isLoggedIn" class="p-3 mt-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width: 50%;">
      <h1 class="h3 mb-5 fw-normal">Please register</h1>
  
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.errors?.['confirmedValidator']">
        New password did not match!
      </div>
  
      <div class="form-floating">
          <input type="text" class="form-control mb-2" id="floatingInput" placeholder="username" formControlName="username">
          <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control mb-2" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control mb-2" id="floatingConfirmPassword" placeholder="Confirm Password" formControlName="confirm_password">
        <label for="floatingConfirmPassword">Confirm Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Welcome {{username_}} as {{ role }}.
    </div>
  </div>
  